:root {
    
    --heading-background-color: #3f8efc;
    --heading-text-color: #deba6f;
    --heading-font-family: 'Amatic', 'Caveat', sans-serif;
    --body-text: 'Montserrat', 'Verdana', sans-serif;
    --base-font-size: 16px; /* 1rem = 16px */
    --h1-color: #6fffe9;
    --h2-color: #5b60be;
    --h3-color:#fcddbc;
    --primary-color:#3f8ec;
    --secondary-color: #fcddbc;
    --accent1-color: #5b60be;
    --accent2-color: #6fffe9;
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1);
    --width: 70rem;
   

}

body {
    font-size: var(--base-font-size);
}
.hero {
    position:relative;
    width:100%;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#5b60be;
    font-size: 3rem;
}
.hero article img {
    width: 100px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    float:right;
}
.hero article {
    position: absolute;
    top: 50%;
    width: 90%;
    background-color: #6fffe9;
}
a {
    text-decoration: none;
}
