:root {
    --heading-background-color: #3f8efc;
    --heading-text-color: #deba6f;
    --heading-font-family: 'Amatic', 'Caveat', sans-serif;
    --body-text: 'Montserrat', 'Verdana', sans-serif;
    --base-font-size: 16px; /* 1rem = 16px */
    --h1-color: #6fffe9;
    --h2-color: #5b60be;
    --h3-color:#fcddbc;
    --primary-color:#3f8ec;
    --secondary-color: #fcddbc;
    --accent1-color: #5b60be;
    --accent2-color: rgb(34, 142, 142);
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1);
}
* { /* this area is a default for the entire document.*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
/* this ends the area that is a default for the entire document.*/

/* below is coding for all headings, coding appearing AFTER this area defining heading instrustions will override this section.*/
h1 {
    color: #5b60be;
    font-size: 2rem; /*check sizing*/
    font-family: 'Amatic', 'Caveat', sans-serif;
}
h2 {
    border: 2px dashed rgb(23, 228, 91);
    text-align: center;
    width: 100%;
    color: #3f8efc;
    font-size: 3rem;
    padding: 0.5em;
    font-family:'Amatic', 'Caveat', sans-serif; ;
}
/* here end the default coding for all headings, coding appearing AFTER this area defining heading instrustions will override this section.*/

/*below is the default coding for all paragraphs within the document.  Any coding made AFTER this area to parargraphs will override this default coding.*/
p {
    color: black;
    font-size: 16px;
    font-family: 'Montserrat', 'Verdana', sans-serif;
}
/*here ends the default coding for all paragraphs within the document.  Any coding made AFTER this area to parargraphs will override this default coding.*/

/*below is the default coding of the body of the document.  Any further coding to the body element after this section will override  body default coding.*/
body {
    margin: 0;
    font-size: var(--base-font-size);
    font-family: var(--heading-font-family);
}
/*here ends the default coding of the body of the document.  Any further coding to the body element after this section will override  body default coding.*/

/*below corresponds to the navigation buttons (index, about us, trips and contact us) in the header*/
nav {
    width: 100%;
    font-size: 3rem;
    justify-content: center;
}
header nav {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
header nav a {
    color: var(--accent2-color);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 4rem;
}
/*this ends the coding for the navigation buttons (index, about us, trips and contact us) in the header*/

/*below corresponds to the header on repeating pages which includes the logo image.*/
header {
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: var(--secondary-color);
}
header img{
    width: 100px; 
    height: auto;
    margin-right: 20px;
}
/*here ends the header on repeating pages which includes the logo image.*/

/* below consists of the upper main image with company name, the inset image, paragraph and background banner*/
.hero {
    position:relative;
    width:100%;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:var(--heading-text-color);
    font-size: 7rem;
}
.hero p {
    color: var(--h3-color);
}
.hero article img {
    width: 100px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    float:right;
}
.hero article {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1rem;
    top: 50%;
    width: 90%;
    background-color:var(--accent2-color);
}
/* here ends the upper main image with company name, the inset image, paragraph and background banner*/

/* the below sections consists of the history portion, containing a title, paragraph and image wrapped within the paragraph.*/
.text-wrap {
    display: flex;
   flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.text-wrap h2 {
    margin-bottom: 20px;
}
.text-wrap .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.text-wrap p {
    flex: 1;
    margin: 0;
}
.text-wrap .center-image {
    max-width: 100%;
    height: auto;
}
/* here ends the sections consisting of the history portion, containing a title, paragraph and image wrapped within the paragraph.*/

/*below coresponds to the adventure awaits image placement*/
section {
    text-align: center;
    padding: 20px;
}
section h2 {
    margin-bottom: 20px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .figures-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.figures-container {
    height: 200px;
    object-fit: cover;
}   
figure {
    margin: 0;
    text-align: center;
}
.figures-container img {
    max-width: 100%;
   height: 200px;
   object-fit: cover;
}
/*this completes the adventure awaits image placement*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /*adjust as needed*/
}
footer p {
    flex-grow: 1;
    text-align: center;
}
footer a {
    margin-left: 20px; /*adjust as needed*/
}