:root {
    --heading-background-color: steelblue;
    --heading-text-color: #abddc5;
    --heading-font: 'didot', 'georgia' , serif;
    --h1-color: #1009c2;
    --body-text: 'tahoma', 'verdana', sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1);
    --width: 70rem;

}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--h1-color);
    font-family: var(--heading-font);
    padding: var(--padding);

}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: var(--heading-font);
    color: var(--h1-color);
    font-weight: bold;
    unicode-bidi: isolate;
}
}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    font-family: var(--body-text);
    padding: 10px;
}
main {
    max-width: var(--width);
}
aside {
    width: var(--width);
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 18rem;
    height: auto;
}
main img{
    width: 150px;
    height: auto;
}
p { padding: 0;}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
